<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Tags</span>
    </div>
    <div class="card-body">
        <div class="nav">
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="text-decoration-none small bg-light text-dark d-block mt-1 me-2 rounded-pill py-1 px-3 tag tag-{{id}} {{slug}}">{{name}}</a>
            {{/foreach}}
        </div>
    </div>
</div>
