{{#get "posts" order="published_at desc" limit="4"}}
<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Recent Posts</span>
    </div>
    <div class="list-group list-group-flush">
        {{#foreach posts}}
            <a href="{{url}}" class="list-group-item list-group-item-action d-flex py-3">
                <div class="avatar-50 avatar-h-auto">
                    {{#if feature_image}}
                        <img class="rounded" src="{{img_url feature_image}}" title="" alt="">
                    {{else}}
                        <img class="rounded" src="{{asset "images/250x250.jpg"}}" title="" alt="">
                    {{/if}}
                </div>
                <div class="ps-3">
                    <p class="m-0">{{title}}</p>
                </div>
            </a>
        {{/foreach}}
    </div>
</div>
{{/get}}
