<footer class="page-footer font-small text-light bg-dark">
    <div class="page-footer-content container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-4">
                <h5 class="text-uppercase">ghost-theme-bootstrap</h5>
                <p>Create your perfect theme with Ghost and Bootstrap.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-4">
                <h5 class="text-uppercase">Pages</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-4">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="site-footer">
        <div class="site-footer-content container">
            <div class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</div>
            <nav class="site-footer-nav">
                <a href="{{@site.url}}/blog/">Latest Posts</a>
                {{#if @site.facebook}}
                    <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                {{#if @site.twitter}}
                    <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                <a href="https://www.ghoststead.com" target="_blank" rel="noopener">Ghoststead</a>
            </nav>
        </div>
    </div>

</footer>
