{{#if isSecondary}}
    {{#foreach navigation}}
        <li>
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <li class="nav-item nav-{{slug}}{{#if current}} active{{/if}}">
            <a class="nav-link py-lg-4" href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
{{/if}}
