<div class="col-lg-4 col-sm-12 mb-4 {{#if feature_image}}{{^is "home"}}{{#has index="0"}}col-md-12 col-lg-12{{/has}}{{/is}}{{/if}}">
    <div class="card {{post_class}} {{#unless feature_image}}no-image{{else}}{{^is "home"}}{{#has
            index="0"}}post-card-large{{/has}}{{/is}}{{/unless}} h-100">
        {{#if feature_image}}
            <a href="{{url}}">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
                     sizes="(max-width: 1000px) 400px, 700px"
                     loading="lazy"
                     src="{{img_url feature_image size="m"}}"
                     alt="{{title}}"
                />
            </a>
        {{/if}}

        <div>
            <a href="{{url}}">
                <div class="post-card-header">
                    {{#if primary_tag}}
                        {{#primary_tag}}
                            <div class="post-card-primary-tag">{{name}}</div>
                        {{/primary_tag}}
                    {{/if}}
                    <h2>{{title}}</h2>
                </div>

                <div class="post-card-excerpt">
                    {{#if feature_image}}
                        <p>{{excerpt words="30"}}</p>
                    {{else}}
                        <p>{{excerpt words="44"}}</p>
                    {{/if}}
                </div>

            </a>

            <footer class="post-card-meta">
                <ul class="author-list">
                    {{#foreach authors}}
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                {{name}}
                            </div>

                            {{#if profile_image}}
                                <a href="{{url}}" class="static-avatar">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}"
                                         alt="{{name}}"/>
                                </a>
                            {{else}}
                                <a href="{{url}}">{{> "icons/avatar"}}</a>
                            {{/if}}
                        </li>
                    {{/foreach}}
                </ul>
                <div>
                    <span>{{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
                    <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date
                            format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
                </div>
            </footer>

        </div>

    </div>
</div>