{{#if feature_image}}

    <style type="text/css">
        .responsive-img-{{slug}} {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{img_url feature_image size='s'}});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
{{/if}}


<div class="col-lg-4 my-3">
    <div class="hover-top rounded overflow-hidden {{#if feature_image}}responsive-img-{{slug}}{{/if}}">
        <div class="p-5 pt-12 bg-dark-light">
            <div class="pb-2">
                <span class="text-white">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date format="DD MMMM YYYY"}}
                    </time>
                </span>
            </div>
            <h5 class="pb-2">
                <a class="stretched-link text-white text-truncate d-block" href="{{url}}">{{title}}</a>
            </h5>
            <p class="text-truncate text-white mb-4">{{excerpt words="10"}}</p>
            <div class="border-style top light"></div>
            {{#primary_author}}
                <div class="d-flex pt-4">
                    <div class="avatar avatar-32 overflow-hidden rounded-circle">
                        <img src="{{profile_image}}" title="{{name}}" alt="{{name}}">
                    </div>
                    <div class="col ps-2 align-self-center">
                        <span class="text-white">{{name}}</span>
                    </div>
                </div>
            {{/primary_author}}
        </div>
    </div>
</div>