<!-- Section -->
<section id="portfolio" class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8">
                <label class="border-bottom-2 text-uppercase font-w-600 text-primary border-secondary">Portfolio</label>
				<h3 class="h1 m-0">We’ve done lot’s of work, Let’s Check some from here</h3>
			</div>
		</div>
    </div>
    <div class="container-fluid image_container">
        <div class="swiper-container" data-sm="1" data-md="2" data-lg="3" data-xl="4" data-xxl="4" data-spaceBetween="5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="portfolio-box m-2 p-2 shadow bg-white">
                        <div class="portfolio-img">
                            <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="portfolio-info">
                            <div class="portfolio-desc">
                                <h5><a href="#">Our Photography</a></h5>
                                <div class="pb-tag">
                                    <a href="#">Photos</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                            <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                                {{> icons/themify/plus}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio-box m-2 p-2 shadow bg-white">
                        <div class="portfolio-img">
                            <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="portfolio-info">
                            <div class="portfolio-desc">
                                <h5><a href="#">Our Photography</a></h5>
                                <div class="pb-tag">
                                    <a href="#">Photos</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                            <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                                {{> icons/themify/plus}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio-box m-2 p-2 shadow bg-white">
                        <div class="portfolio-img">
                            <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="portfolio-info">
                            <div class="portfolio-desc">
                                <h5><a href="#">Our Photography</a></h5>
                                <div class="pb-tag">
                                    <a href="#">Photos</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                            <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                                {{> icons/themify/plus}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio-box m-2 p-2 shadow bg-white">
                        <div class="portfolio-img">
                            <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="portfolio-info">
                            <div class="portfolio-desc">
                                <h5><a href="#">Our Photography</a></h5>
                                <div class="pb-tag">
                                    <a href="#">Photos</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                            <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                                {{> icons/themify/plus}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio-box m-2 p-2 shadow bg-white">
                        <div class="portfolio-img">
                            <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="portfolio-info">
                            <div class="portfolio-desc">
                                <h5><a href="#">Our Photography</a></h5>
                                <div class="pb-tag">
                                    <a href="#">Photos</a>
                                    <a href="#">Fashion</a>
                                </div>
                            </div>
                            <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                                {{> icons/themify/plus}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
</section>
<!-- End Section -->
