<section class="section overflow-hidden">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 my-3">
                <div class="section-title">
                    <label class="border-bottom border-2 font-w-600 text-primary border-secondary mb-2">Testimonials</label>
                    <h3 class="h1 pb-3">Check what’s our client say about.</h3>
                    <p>We’ve strong work history with different business services</p>
                </div>
                <div class="swiper-container" data-sm="1" data-md="2" data-lg="2" data-xl="2" data-xxl="2" data-spaceBetween="10">
                    <div class="swiper-wrapper">
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-5 my-3">
                <img class="max-width-auto" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>

        </div>
    </div>
</section>
