{{!< default}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}


<header class="site-archive-header">
    {{!--{{> navbar}}--}}
    {{> header-background background=cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="container">
            <div class="site-header-content author-header">
                {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{else}}
                    <span class="author-profile-image">{{> "icons/avatar"}}</span>
                {{/if}}
                <div class="author-header-content">
                    <h1 class="site-title">{{name}}</h1>
                    {{#if bio}}
                        <h2 class="author-bio">{{bio}}</h2>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}
                            <div class="author-location">{{location}}</div>
                        {{/if}}
                        <div class="author-stats">
                            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                        </div>
                        {{#if website}}
                            <span class="author-social-link"><a href="{{website}}" target="_blank" rel="noopener">Website</a></span>
                        {{/if}}
                        {{#if twitter}}
                            <span class="author-social-link"><a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a></span>
                        {{/if}}
                        {{#if facebook}}
                            <span class="author-social-link"><a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a></span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{/author}}

<main id="site-main" class="site-main">
    <section class="container post-feed">
        <div class="row row-cols-1 row-cols-md-3">
            {{#foreach posts limit=9}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </section>
</main>

{{> footer }}