<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Built stylesheet --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}} position-relative" data-bs-target="#navbar-collapse-toggle" data-bs-offset="70" tabindex="0">
    {{{body}}}

    {{>subscribe}}
    {{>thank-you}}

    {{ghost_foot}}

    {{{block "scripts"}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script async defer src={{asset "built/js/ghost-theme-utils.js"}}></script>
    <script async defer src={{asset "built/js/theme.js"}}></script>
</body>
</html>


