<section class="section">
        <div class="container">
            <div class="row">
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Post -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-post">
                        <div class="blog-post-img">
                            <a href="#">
                                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <label class="author">Nancy Bayers – 10 hours ago</label>
                            <h5 class="blog-post-title"><a href="#">How to make trust your competitive advantage</a></h5>
                            <div class="blog-post-desc"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
                            <div class="nav blog-post-meta">
                                <a class="blog-post-date" href="#">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</a>
                                <a class="blog-post-comment" href="#">{{> icons/bootstrap/chat-quote-fill}} 8</a>
                                <a class="blog-post-more" href="#">Read More {{> icons/bootstrap/chevron-right}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col-12 pt-3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
