{{#if @labs.members}}
    {{> subscribe-form}}
{{/if}}

<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Search</span>
    </div>
    <div class="card-body">
        <form class="input-group">
            <input type="email" class="form-control" placeholder="Search">
            <button class="btn btn-primary" type="submit">{{> icons/bootstrap/search}}</button>
        </form>
    </div>
</div>
{{#posts}}
<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Recent Posts</span>
    </div>
    <div class="list-group list-group-flush">
        {{#get "posts" order="published_at desc" limit="4"}}
            {{#foreach posts}}
                <a href="{{url}}" class="list-group-item list-group-item-action d-flex py-3">
                    <div class="avatar-50">
                        {{#if feature_image}}
                            <img class="rounded" src="{{img_url feature_image}}" title="" alt="">
                        {{else}}
                            <img class="rounded" src="{{asset "images/250x250.jpg"}}" title="" alt="">
                        {{/if}}
                    </div>
                    <div class="pl-3">
                        <p class="m-0">{{title}}</p>
                    </div>
                </a>
            {{/foreach}}
        {{/get}}
    </div>
</div>
{{/posts}}
<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Tags</span>
    </div>
    <div class="card-body">
        <div class="nav tag-cloud">
            <a href="#">Design</a>
            <a href="#">Development</a>
            <a href="#">Travel</a>
            <a href="#">Web Design</a>
            <a href="#">Marketing</a>
            <a href="#">Research</a>
            <a href="#">Managment</a>
        </div>
    </div>
</div>
