<section id="blog" class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Daily updates</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            {{#get "posts" order="published_at desc" include="authors" limit="4"}}
            {{#foreach posts}}
            <div class="col-md-6 col-lg-3 my-3">
                <div class="position-relative">
                    <div>
                        {{#if feature_image}}
                            <img class="rounded img-fluid" src="{{img_url feature_image}}" title="" alt="">
                        {{else}}
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        {{/if}}
                    </div>
                    <div class="pt-3">
                        <div class="small pb-1">
                            <span class="date"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></span>
                        </div>
                        <h5>{{title}}</h5>
                        <p class="text-truncate">{{excerpt words="10"}}</p>
                        <div class="btn-grid">
                            <a class="btn btn-sm btn-primary stretched-link" href="{{url}}">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>
