<div class="bg-gray-100">
   <div class="container mt-n8">
       <div class="bg-white shadow-lg p-4 position-relative rounded">
           <div class="swiper-container" data-sm="2" data-md="3" data-lg="4" data-xl="5" data-xxl="5" data-spaceBetween="30" data-slidesPerView="2">
               <div class="swiper-wrapper">
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/swiper.js"}}"></script>
{{/contentFor}}
