<section id="portfolio" class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Our latest work</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="portfolio-filter mb-6">
            <ul class="filter justify-content-center nav">
                <li class="active" data-filter="all">All</li>
                <li data-filter="branding">Branding</li>
                <li data-filter="photos">Photos</li>
                <li data-filter="fashion">Fashion</li>
                <li data-filter="product">Product</li>
            </ul>
        </div> <!-- Portfolio Filter -->
        <div class="portfolio-content grid-gutter-md image-container">
            <div class="grid-item" data-groups='["product", "branding"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Branding</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "photos"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Photos</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "fashion"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "branding"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Branding</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "photos"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Photos</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "fashion"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/shuffle.js"}}"></script>
    <script async defer src="{{asset "built/js/big-picture.js"}}"></script>
{{/contentFor}}
