<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="nav pb-4">
                    <span class="text-dark font-w-600">{{> icons/bootstrap/calendar-fill}} 30 Aug, 2019</span>
                    <a class="text-dark font-w-600 ms-3" href="#">{{> icons/bootstrap/folder2}} Categories</a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <figure class="figure"><img alt="Image placeholder" src="{{asset "images/900x550.jpg"}}" class="img-fluid shadow rounded">
                    <figcaption class="m-15px-t text-dark">Figure one: Type here your description</figcaption>
                </figure>
                <h5 class="pt-4 mb-3">What are my payment options?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h5 class="pt-4 mb-3">What are my payment options?</h5>
                <ul class="list-type-02">
                    <li>Your bank account or credit/debit card via PayPal.</li>
                    <li>Skrill (available for non US customers only)</li>
                    <li>Your Visa or Mastercard.</li>
                    <li>GhostStead credit (existing credit only, no further purchases of credits are available).</li>
                </ul>
                <div class="bg-gray-100 border-left border-5 border-primary p-4 my-4">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p class="blockquote-footer m-0">Someone famous in <cite title="Source Title">Source Title</cite></p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="nav tag-cloud pt-4">
                    <a href="#">Design</a>
                    <a href="#">Development</a>
                    <a href="#">Travel</a>
                    <a href="#">Web design</a>
                    <a href="#">Marketing</a>
                    <a href="#">Research</a>
                    <a href="#">Managment</a>
                </div>
                <div class="py-4 my-5 border-top border-bottom">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="m-0">Share Post</h5>
                        </div>
                        <div>
                            <div class="nav justify-content-center justify-content-md-end social-icon si-30 gray">
                                <a href="#">{{> icons/themify/facebook}}</a>
                                <a href="#">{{> icons/themify/twitter-alt}}</a>
                                <a href="#">{{> icons/themify/linkedin}}</a>
                                <a href="#">{{> icons/themify/instagram}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media bg-gray-100 p-4">
                    <div class="avatar-80 rounded-circle">
                        <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                    </div>
                    <div class="media-body ps-4">
                        <h5 class="mb-2">Nancy Bayers</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="comments-area my-5">
                    <div class="border-bottom pb-2 mb-5">
                        <h4 class="m-0">3 Comments</h4>
                    </div>
                    <ul class="list-unstyled pt-4">
                        <li class="media">
                            <div class="avatar-60 rounded-circle">
                                <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="mt-0 mb-2">Nancy Bayers</h6>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <div class="nav dark-link">
                                    <a class="btn btn-sm btn-outline-primary" href="#">
                                        Replay
                                    </a>
                                </div>
                                <ul class="list-unstyled mt-5 pt-5 border-top">
                                    <li class="media">
                                        <div class="avatar-60 rounded-circle">
                                            <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                                        </div>
                                        <div class="media-body ps-3">
                                            <h6 class="mt-0 mb-2">Nancy Bayers</h6>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                            <div class="nav dark-link">
                                                <a class="btn btn-sm btn-outline-primary" href="#">
                                                    Replay
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="media mt-5 pt-5 border-top">
                            <div class="avatar-60 rounded-circle">
                                <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="mt-0 mb-2">Nancy Bayers</h6>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <div class="nav dark-link">
                                    <a class="btn btn-sm btn-outline-primary" href="#">
                                        Replay
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="media mt-5 pt-5 border-top">
                            <div class="avatar-60 rounded-circle">
                                <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="mt-0 mb-2">Nancy Bayers</h6>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <div class="nav dark-link">
                                    <a class="btn btn-sm btn-outline-primary" href="#">
                                        Replay
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card bg-gray-100">
                    <div class="card-body p-lg-5">
                        <h4 class="mb-5">Leave a Reply</h4>
                        <form data-form-type="contact">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Full name</label>
                                        <input type="text" class="form-control" placeholder="Jane Smith">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Your email</label>
                                        <input type="text" class="form-control" placeholder="info@domain.com">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Comment?</label>
                                        <textarea class="form-control" rows="6" name="answer" placeholder="Hello, There! " aria-label="How'd you hear about GhostStead?" required="" data-msg="Please enter an answer." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="check-terms">
                                            <label class="custom-control-label" for="check-terms">Save my name, email, and website in this browser for the next time I comment.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 pt-3">
                                    <input name="location" type="hidden" value="{{@site.url}}/thank-you">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
