<section id="blog" class="section">
    <div class="container">
        <div class="row justify-content-center full-screen align-items-center bg-primary">
            <div class="col-lg-8 text-center">
                <h1 class="display-3 white-color m-15px-b">We're coming soon..</h1>
                <p class="h4 white-color-alt">Our website is under construction. We'll be here soon with our new awesome site.</p>
                <div class="count-down p-20px-t" id="clock_time" data-date="2020-08-31">
                    <div class="date-box-1"><span>00</span> <label>days</label></div>
                    <div class="date-box-2"><span>00</span> <label>hr</label></div>
                    <div class="date-box-3"><span>00</span> <label>min</label></div>
                    <div class="date-box-4"><span>00</span> <label>sec</label></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center full-screen align-items-center bg-primary">
            <div class="col-lg-8 text-center">
                <h1 class="display-3 white-color m-15px-b">We're coming soon..</h1>
                <p class="h4 white-color-alt">Our website is under construction. We'll be here soon with our new awesome site.</p>
                <div class="count-down p-20px-t" id="clock_time1" data-date="2020-08-06">
                    <div class="date-box-1"><span>00</span> <label>days</label></div>
                    <div class="date-box-2"><span>00</span> <label>hr</label></div>
                    <div class="date-box-3"><span>00</span> <label>min</label></div>
                    <div class="date-box-4"><span>00</span> <label>sec</label></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Daily Updates</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="hover-top blog-grid-overlay" style="background-image: url({{asset "images/900x550.jpg"}}); ">
                    <div class="blog-gird-info">
                        <div class="b-meta">
                            <span class="date">02 Mar 2019</span>
                        </div>
                        <h5><a class="text-white stretched-link" href="#">Make your Marketing website</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="border-style top light mt-4"></div>
                        <div class="media">
                            <div class="avatar-40 rounded-circle">
                                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body pl-2 align-self-center">
                                <span class="text-white">Rachel Roth</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="hover-top blog-grid-overlay" style="background-image: url({{asset "images/900x550.jpg"}}); ">
                    <div class="blog-gird-info">
                        <div class="b-meta">
                            <span class="date">02 Mar 2019</span>
                        </div>
                        <h5><a class="text-white stretched-link" href="#">Make your Marketing website</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="border-style top light mt-4"></div>
                        <div class="media">
                            <div class="avatar-40 rounded-circle">
                                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body pl-2 align-self-center">
                                <span class="text-white">Rachel Roth</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="hover-top blog-grid-overlay" style="background-image: url({{asset "images/900x550.jpg"}}); ">
                    <div class="blog-gird-info">
                        <div class="b-meta">
                            <span class="date">02 Mar 2019</span>
                        </div>
                        <h5><a class="text-white stretched-link" href="#">Make your Marketing website</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="border-style top light mt-4"></div>
                        <div class="media">
                            <div class="avatar-40 rounded-circle">
                                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                            </div>
                            <div class="media-body pl-2 align-self-center">
                                <span class="text-white">Rachel Roth</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
