<!-- Section -->
<section class="section gray-bg">
    <div class="container piechartcontainer">
        <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
            <div class="col-lg-5">
                <label class="theme-bg-alt font-small font-w-500 p-20px-lr p-5px-tb theme-color border-radius-15 m-15px-b">Our Revenues</label>
                <h3 class="h2 m-0px">The most effective way to track your revenues</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 text-center m-15px-tb"> 
                <div class="pie-chart">
                    <span class="pie_chart_in" 
                        data-lineCap="round" 
                        data-size="200"
                        data-percent="25"
                        data-trackcolor="#f1f6fd" 
                        data-width="15" 
                        data-color="#f5a416">
                        <span class="middle dark-color h2 font-w-600 m-0px after-percentage"></span>
                    </span>
                    <h5 class="dark-color yellow-bg white-color font-w-400 d-inline-block p-20px-lr p-5px-tb h6 border-radius-15 m-20px-t">Yellow Progress</h5>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 col-sm-6 text-center m-15px-tb"> 
                <div class="pie-chart">
                    <span class="pie_chart_in" 
                        data-lineCap="round" 
                        data-size="200" 
                        data-percent="85" 
                        data-trackcolor="#f1f6fd" 
                        data-width="15" 
                        data-color="#15b2ec">
                        <span class="middle dark-color h2 font-w-600 m-0px after-percentage"></span>
                    </span>
                    <h5 class="dark-color blue-bg white-color font-w-400 d-inline-block p-20px-lr p-5px-tb h6 border-radius-15 m-20px-t">Blue Progress</h5>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 col-sm-6 text-center m-15px-tb"> 
                <div class="pie-chart">
                    <span class="pie_chart_in" 
                        data-lineCap="round" 
                        data-size="200" 
                        data-percent="77" 
                        data-trackcolor="#f1f6fd" 
                        data-width="15" 
                        data-color="#f12699">
                        <span class="middle dark-color h2 font-w-600 m-0px after-percentage"></span>
                    </span>
                    <h5 class="dark-color pink-bg white-color font-w-400 d-inline-block p-20px-lr p-5px-tb h6 border-radius-15 m-20px-t">Red Progress</h5>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 col-sm-6 text-center m-15px-tb"> 
                <div class="pie-chart">
                    <span class="pie_chart_in" 
                        data-lineCap="round" 
                        data-size="200" 
                        data-percent="65" 
                        data-trackcolor="#f1f6fd" 
                        data-width="15" 
                        data-color="#11e279">
                        <span class="middle dark-color h2 font-w-600 m-0px after-percentage"></span>
                    </span>
                    <h5 class="dark-color green-bg white-color font-w-400 d-inline-block p-20px-lr p-5px-tb h6 border-radius-15 m-20px-t">Green Progress</h5>
                </div>
            </div> <!-- col -->
        </div> <!-- row -->
    </div>
</section>
<!-- End Section -->
<section id="blog" class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Daily updates</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            {{#get "posts" order="published_at desc" include="authors" limit="3"}}
            {{#foreach posts}}
            <div class="col-lg-4 my-3">
                {{#if feature_image}}
                    <div class="hover-top blog-grid-overlay" style="background-image: url({{img_url feature_image}}); ">
                {{else}}
                    <div class="hover-top blog-grid-overlay" style="background-image: url({{asset "images/900x550.jpg"}}); ">
                {{/if}}
                    <div class="blog-gird-info">
                        <div class="b-meta">
                            <span class="date">
                                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                            </span>
                        </div>
                        <h5><a class="text-white stretched-link" href="{{url}}">{{title}}</a></h5>
                        <p>{{excerpt words="10"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                        <div class="border-style top light mt-4"></div>
                        {{#primary_author}}
                        <div class="media">
                            <div class="avatar-40 rounded-circle">
                                <img src="{{profile_image}}" title="{{name}}" alt="{{name}}">
                            </div>
                            <div class="media-body pl-2 align-self-center">
                                <span class="text-white"><a class="text-white" href="{{url}}">{{name}}</a></span>
                            </div>
                        </div>
                        {{/primary_author}}
                    </div>
                </div>
            </div>
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>
