<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 my-3">
                <label class="text-secondary mb-3">Testimonials</label>
                <h2 class="mb-3">Loved by businesses, and individuals across the globe.</h2>
                <p class="lead-sm">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                <div class="pt-2">
                    <a class="btn btn-primary" href="#">More Testimonials</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="swiper-container" data-slidesPerView="2">
                    <div class="swiper-wrapper">
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<section>
    <div class="container-fluid p-0px">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 bg-cover bg-no-repeat min-h-350px">
                <img class="parallax_img" src="https://www.w3schools.com/css/img_fjords.jpg" />
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="p-60px-tb p-40px-lr lg-p-40px-lr lg-p-20px-lr theme-bg">
                    <label class="white-color-light">Build perfect websites</label>
                    <h5 class="white-color m-15px-b">Unlimited power and customization possibilities</h5>
                    <p class="white-color-light">Momboo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups. The passage is attributed to an unknown typesetter in the 15th century who is thought.</p>
                    <div class="p-15px-t">
                        <a class="m-btn m-btn-radius m-btn-t-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 bg-cover bg-no-repeat min-h-350px">
                <img class="parallax_img" src="{{asset 'images/1600x900.jpg'}}" />
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="p-60px-tb p-40px-lr lg-p-40px-lr lg-p-20px-lr theme-bg">
                    <label class="white-color-light">Build perfect websites</label>
                    <h5 class="white-color m-15px-b">Unlimited power and customization possibilities</h5>
                    <p class="white-color-light">Momboo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups. The passage is attributed to an unknown typesetter in the 15th century who is thought.</p>
                    <div class="p-15px-t">
                        <a class="m-btn m-btn-radius m-btn-t-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>