<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 my-3">
                <label class="text-secondary mb-3">Testimonials</label>
                <h2 class="mb-3">Loved by businesses, and individuals across the globe.</h2>
                <p class="lead-sm">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                <div class="pt-2">
                    <a class="btn btn-primary" href="#">More Testimonials</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="swiper-container" data-slidesPerView="2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                <label class="m-0 small text-white">Co-founder</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers1</h5>
                                <label class="m-0 small text-white">Co-founder1</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers2</h5>
                                <label class="m-0 small text-white">Co-founder2</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers3</h5>
                                <label class="m-0 small text-white">Co-founder3</label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-container" data-slidesPerView="3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                <label class="m-0 small text-white">Co-founder</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers1</h5>
                                <label class="m-0 small text-white">Co-founder1</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers2</h5>
                                <label class="m-0 small text-white">Co-founder2</label>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url({{asset "images/500x500.jpg"}});">
                            <div class="position-relative w-100 text-center">
                                <h5 class="text-white m-0 font-w-600">Nancy Bayers3</h5>
                                <label class="m-0 small text-white">Co-founder3</label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
