<!-- Section -->
<section id="portfolio" class="section">
    <div class="container">
        <div class="portfolio-filter mb-6">
            <ul class="filter justify-content-center nav">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".branding">Branding</li>
                <li data-filter=".photoshop">Photoshop</li>
                <li data-filter=".fashion">Fashion</li>
                <li data-filter=".product">Product</li>
            </ul>
        </div> <!-- Portfolio Filter -->
        <div class="portfolio-content grid-gutter-md image_container">
            <div class="grid-item product branding product">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product photoshop">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product fashion">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product branding">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product photoshop">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item product fashion product">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
        </div> <!-- portfolio-content -->
    </div>
</section>
<!-- End Section -->
