<section id="portfolio" class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
                <label class="border-bottom border-2 text-uppercase fw-bold text-primary border-info">Portfolio</label>
				<h3 class="h1 m-0">Few creative portfolios</h3>
			</div>
		</div>
        <div class="portfolio-content grid-gutter-md image-container">
            <div class="grid-item" data-groups='["product", "fashion"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item"  data-groups='["product", "photos"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Photos</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "fashion"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "branding"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Photos</a>
                                <a href="#">Branding</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "photos"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Photos</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div> <!-- grid item -->
            <div class="grid-item" data-groups='["product", "fashion"]'>
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img class="img-fluid" data-bp="{{asset "images/1000x1000.jpg"}}" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                    </div>
                    <div class="portfolio-info">
                        <div class="portfolio-desc">
                            <h5><a href="#">Our Photography</a></h5>
                            <div class="pb-tag">
                                <a href="#">Product</a>
                                <a href="#">Fashion</a>
                            </div>
                        </div>
                        <a href="{{asset "images/1000x1000.jpg"}}" class="gallery-link">
                            {{> icons/themify/plus}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/shuffle.js"}}"></script>
{{/contentFor}}

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/big-picture.js"}}"></script>
{{/contentFor}}
