<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 my-3">
                <label class="text-secondary mb-3">Testimonials</label>
                <h2 class="mb-3">Loved by businesses, and individuals across the globe.</h2>
                <p class="lead-sm">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                <div class="pt-2">
                    <a class="btn btn-primary" href="#">More Testimonials</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="swiper-container" data-sm="1" data-md="2" data-lg="2" data-xl="2" data-xxl="2" data-spaceBetween="10">
                    <div class="swiper-wrapper">
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide-->
                        <div class="swiper-slide">
                            <div class="shadow m-2 overflow-hidden rounded bg-white">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-center bg-cover bg-no-repeat position-relative" style="background-image: url({{asset "images/500x500.jpg"}});">
                                    <div class="mask bg-primary opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 font-w-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-5 position-relative text-center">
                                    <div class="icon bg-secondary rounded-circle text-white mb-3">
                                        {{> icons/themify/quote-left}}
                                    </div>
                                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- swiper -->
<script src={{asset "built/js/vendor/swiper/swiper.js"}}></script>

