<div>
   <div class="container border-bottom-1 border-gray py-5">
       <div class="swiper-container" data-sm="2" data-md="3" data-lg="4" data-xl="5" data-xxl="5" data-spaceBetween="30">
               <div class="swiper-wrapper">
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="swiper-slide">
                       <div class="grayscale-hover">
                           <a href="#">
                               <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                           </a>
                       </div>
                   </div>
               </div>
           </div>
   </div>
</div>
