<!-- Home Banner -->
<section id="home" class="py-6 py-md-9 py-lg-11 effect-section bg-gray-100">
   <div class="effect effect-bg-65 bg-primary"></div>
   <div class="container position-relative">
       <div class="row align-items-center pt-10 pb-7 justify-content-center">
           <div class="col-md-9 col-xl-7 text-center">
               <h1 class="text-white display-4">Creative design and creative services</h1>
               <p class="lead text-white-50 m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
           </div>
       </div>
       <div class="swiper-container" data-sm="1" data-md="2" data-lg="2" data-xl="3" data-xxl="4" data-spaceBetween="20">
           <div class="swiper-wrapper">
               <div class="swiper-slide">
                   <div class="shadow hover-top bg-bg rounded p-4 text-center mt-3 mb-4 bg-white">
                       <div class="d-inline-block mb-5">
                           <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                       </div>
                       <h5>Web development</h5>
                       <p class="m-0 lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                       <div class="pt-4">
                           <a class="btn btn-outline-primary" href="#">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="shadow hover-top bg-bg rounded p-4 text-center mt-3 mb-4 bg-white">
                       <div class="d-inline-block mb-5">
                           <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                       </div>
                       <h5>Web development</h5>
                       <p class="m-0 lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                       <div class="pt-4">
                           <a class="btn btn-outline-primary" href="#">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="shadow hover-top bg-bg rounded p-4 text-center mt-3 mb-4 bg-white">
                       <div class="d-inline-block mb-5">
                           <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                       </div>
                       <h5>Web development</h5>
                       <p class="m-0 lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                       <div class="pt-4">
                           <a class="btn btn-outline-primary" href="#">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="shadow hover-top bg-bg rounded p-4 text-center mt-3 mb-4 bg-white">
                       <div class="d-inline-block mb-5">
                           <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                       </div>
                       <h5>Web development</h5>
                       <p class="m-0 lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                       <div class="pt-4">
                           <a class="btn btn-outline-primary" href="#">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="shadow hover-top bg-bg rounded p-4 text-center mt-3 mb-4 bg-white">
                       <div class="d-inline-block mb-5">
                           <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                       </div>
                       <h5>Web development</h5>
                       <p class="m-0 lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                       <div class="pt-4">
                           <a class="btn btn-outline-primary" href="#">Learn More</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- End Home Banner -->
