<section id="blog" class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Daily updates</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            {{#get "posts" order="published_at desc" include="authors" limit="3"}}
            {{#foreach posts}}
            <div class="col-lg-4 my-3">
                <div class="card post tag-getting-started h-100">
                    <a href="{{url}}">
                        {{#if feature_image}}
                            <img class="card-img-top" src="{{img_url feature_image}}">
                        {{else}}
                            <img class="card-img-top" src="{{asset "images/900x550.jpg"}}">
                        {{/if}}
                    </a>
                    <div class="card-body">
                        <a href="{{url}}">
                            <div class="post-card-header">
                                <h5 class="mt-2 mb-3">{{title}}</h5>
                            </div>
                            <div class="post-card-excerpt text-body">
                                <p class="paragraph-overflow">{{excerpt words="10"}}</p>
                            </div>
                        </a>
                    </div>
                    <footer class="card-footer bg-transparent post-card-meta d-flex">
                        {{#primary_author}}
                        <div class="media">
                            <div class="avatar-40">
                                <img src="{{profile_image}}" title="{{name}}" alt="{{name}}">
                            </div>
                            <div class="media-body pl-2 align-self-center">
                                <span class="links-dark w-100 d-block lh-1 font-w-600"><a href="{{url}}">{{name}}</a></span>
                                <span class="post-card-byline-date small">
                                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                                </span>
                            </div>
                        </div>
                        {{/primary_author}}
                    </footer>
                </div>
            </div>
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>
