<section id="blog" class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Daily updates</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="card post tag-getting-started h-100">
                    <a href="#">
                        <img src="{{asset "images/900x550.jpg"}}">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <div class="post-card-header">
                                <div class="post-card-primary-tag text-body">Getting started</div>
                                <h5 class="mt-2 mb-3">Writing posts with Ghost ✍️</h5>
                            </div>
                            <div class="post-card-excerpt text-body">
                                <p>Discover familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.</p>
                            </div>
                        </a>
                    </div>
                    <footer class="card-footer bg-transparent post-card-meta d-flex">
                        <ul class="author-list list-unstyled m-0">
                            <li class="author-list-item">
                                <a href="#" class="static-avatar avatar-30">
                                    <img class="author-profile-image" title="Ghost" alt="Ghost" src="{{asset "images/100x100.jpg"}}">
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex flex-column pl-2 lh-1">
                            <span class="links-dark font-w-600"><a href="#">Ghost</a></span>
                            <span class="post-card-byline-date small"><time datetime="2020-07-11">11 Jul 2020</time> <span class="bull">•</span> 3 min read</span>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card post tag-getting-started h-100">
                    <a href="#">
                        <img src="{{asset "images/900x550.jpg"}}">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <div class="post-card-header">
                                <div class="post-card-primary-tag text-body">Getting started</div>
                                <h5 class="mt-2 mb-3">Writing posts with Ghost ✍️</h5>
                            </div>
                            <div class="post-card-excerpt text-body">
                                <p>Discover familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.</p>
                            </div>
                        </a>
                    </div>
                    <footer class="card-footer bg-transparent post-card-meta d-flex">
                        <ul class="author-list list-unstyled m-0">
                            <li class="author-list-item">
                                <a href="#" class="static-avatar avatar-30">
                                    <img class="author-profile-image" title="Ghost" alt="Ghost" src="{{asset "images/100x100.jpg"}}">
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex flex-column pl-2 lh-1">
                            <span class="links-dark font-w-600"><a href="#">Ghost</a></span>
                            <span class="post-card-byline-date small"><time datetime="2020-07-11">11 Jul 2020</time> <span class="bull">•</span> 3 min read</span>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card post tag-getting-started h-100">
                    <a href="#">
                        <img src="{{asset "images/900x550.jpg"}}">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <div class="post-card-header">
                                <div class="post-card-primary-tag text-body">Getting started</div>
                                <h5 class="mt-2 mb-3">Writing posts with Ghost ✍️</h5>
                            </div>
                            <div class="post-card-excerpt text-body">
                                <p>Discover familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.</p>
                            </div>
                        </a>
                    </div>
                    <footer class="card-footer bg-transparent post-card-meta d-flex">
                        <ul class="author-list list-unstyled m-0">
                            <li class="author-list-item">
                                <a href="#" class="static-avatar avatar-30">
                                    <img class="author-profile-image" title="Ghost" alt="Ghost" src="{{asset "images/100x100.jpg"}}">
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex flex-column pl-2 lh-1">
                            <span class="links-dark font-w-600"><a href="#">Ghost</a></span>
                            <span class="post-card-byline-date small"><time datetime="2020-07-11">11 Jul 2020</time> <span class="bull">•</span> 3 min read</span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
